{% extends "base.html" %}
{% block title %}{% block title2 %}{% endblock %}{% endblock %}
{% block li %}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'list' user.pk %}">一覧</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'today' user.pk %}">今日のタスク</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'tomorrow' user.pk %}">明日のタスク</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'done_list' user.pk %}">完了済み</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="/logout">ログアウト</a>
    </li>
{% endblock %}

{% block header %}
    <h2>{% block h2 %}{% endblock %}</h2>
    <form class='col-xl-6 col-md-8 col-lg-6 col-sm-12 mx-auto m-5' method="POST">
        {% csrf_token %}
        {% block form %}{% endblock%}
    </form>
{% endblock %}
