{% extends "base.html" %}
{% block title %}ログインフォーム{% endblock %}
{% block li %}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'accounts:login' %}">ログイン</a>
    </li>
{% endblock %}
{% block header %}
    <h2 class='pt-5'>新規登録フォーム</h2>
    <form class='col-xl-6 col-md-8 col-lg-6 col-sm-12 mx-auto m-5' method="POST">
        {%csrf_token%}
        <!-- <table class='mx-auto'>
            <tr>
                <td>{{form.username.label_tag}}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{form.email.label_tag}}</td>
                <td>{{form.email}}</td>
            </tr>
            <tr>
                <td>{{form.password.label_tag}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table> -->

        <!-- <table class='mx-auto my-3'> -->
          {% for field in form %}
            <div class="field my-4">
              {{ field.label_tag }}
              {{ field }}
              <br>
              {% if field.help_text %}
                <span class="helptext text-danger">{{ field.help_text }}</span>
              {% endif %}
              {{ field.errors }}
            </div>
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              <p>{{ error }}</p>
            </div>
          {% endfor %}
            <!-- {% for field in form %}
              <tr class='my-1'>
              {{ field }}
              <hr>
              </tr>
　　         {% endfor %}

　　　　     {% for error in form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
              </div>
　　　　　　　{% endfor %} -->
        <!-- </table> -->
        <button class="btn btn-primary btn-block mt-5 mb-4" type="submit">Sign Up</button>
        <a class="btn btn-success btn-block" href="{% url 'accounts:login' %}">登録済みの方はこちら</a>
    </form>
{% endblock %}