{% extends "base/base.html" %}
{% block title %}{% block title2 %}{% endblock %}{% endblock %}
{% block li %}
    {% if user.is_authenticated %}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'top' user.pk %}">トップページ</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'task:list' user.pk %}">今日と明日</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'task:done_list' user.pk %}">レポート</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'notify:line' %}">LINE通知</a>
    </li>
    {% endif %}
{% endblock %}