{% extends "base/base.html" %}
{% block title %}{% block title2 %}{% endblock %}{% endblock %}
{% block li %}
    {% if user.is_authenticated %}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'task:list' user.pk %}">タスク一覧</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'task:today' user.pk %}">今日のタスク</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'task:tomorrow' user.pk %}">明日のタスク</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'task:done_list' user.pk %}">レポート</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'notify:line' %}">LINE通知</a>
    </li>
    {% endif %}
{% endblock %}