{% load macros %}
{% macro top_shopping_message size margin %}
  <{{size}}>買い物<a class='btn btn-warning ml-2 {{margin}} btn-sm float-right' href="{% url 'shoppinglist:create' %}?next={{ request.get_full_path }}">商品追加</a>
  <a class='btn btn-success btn-sm {{margin}} float-right' href="{% url 'shoppinglist:index' user.pk %}?next={{ request.get_full_path }}">買い物詳細</a></{{size}}>
{% endmacro %}
{% macro buy_table color %}
  {% for info in infos %}
    {% if info.num > 0 %}
      <table class='table table-sm text-center table-striped'>
        <caption>{{info.name}} {{info.date}} : ¥{{info.total}}</caption>
        <thead class='col-12'>
          <tr class='col-12 table-{{color}}'>
            <th class='w-25' scope='col'>商品</th>
            <th class='w-25' scope='col'>店舗</th>
            <th class='w-25' scope='col'>価格</th>
            <th class='w-25' scope='col'>メニュー</th>
          </tr>
        </thead>
        <tbody>
          {% for shopping in info.shoppings %}
            <tr>
              <td>{{ shopping.name }}</td>
              <td>{{ shopping.shop }}</td>
              <td>{% if shopping.price > 0 %}¥{{ shopping.price }}　×{{ shopping.count }}{% endif %}</td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                  <ul class="dropdown-menu" role="menu">
                    {% if shopping.buy_or_not == True %}
                      <li><a class='btn btn-primary btn-block' href="{% url 'shoppinglist:must_buy' shopping.id %}">購入リストに追加</a></li>
                    {% else %}
                      <li><a class='btn btn-primary btn-block' href="{% url 'shoppinglist:buy' shopping.id %}">購入済みにする</a></li>
                      <li><a class='btn btn-primary btn-block my-1' href="{% url 'shoppinglist:not_buy' shopping.id %}">購入をやめる</a></li>
                    {% endif %}
                    <li><a class='btn btn-primary btn-block my-1' href="{% url 'shoppinglist:update' shopping.id %}">編集</a></li>
                    <li>
                      <form method="post" action="{% url 'shoppinglist:delete' shopping.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                        <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                      </form>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}
{% endmacro %}
{% macro bought_table color %}
  {% if bought.num > 0 %}
    <table class='table table-sm table-light text-center table-striped'>
      <caption>{{bought.name}} {{bought.date}} : ¥{{bought.total}}</caption>
      <thead class='col-12'>
        <tr class='col-12 table-{{color}}'>
          <th class='w-25' scope='col'>商品</th>
          <th class='w-25' scope='col'>店舗</th>
          <th class='w-25' scope='col'>価格</th>
          <th class='w-25' scope='col'>目安</th>
          <th class='w-25' scope='col'>メニュー</th>
        </tr>
      </thead>
      <tbody>
        {% for shopping in bought.shoppings %}
          <tr>
            <td>{{ shopping.name }}</td>
            <td>{{ shopping.shop }}</td>
            <td>{% if shopping.price > 0 %}¥{{ shopping.price }}　×{{ shopping.count }}{% endif %}</td>
            <td>{% if shopping.days %}{{ shopping.days }}日{% endif %}</td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                <ul class="dropdown-menu" role="menu">
                  {% if shopping.buy_or_not == True %}
                    <li><a class='btn btn-primary btn-block' href="{% url 'shoppinglist:must_buy' shopping.id %}">購入リストに追加</a></li>
                  {% else %}
                    <li><a class='btn btn-primary btn-block' href="{% url 'shoppinglist:buy' shopping.id %}">購入済みにする</a></li>
                    <li><a class='btn btn-primary btn-block my-1' href="{% url 'shoppinglist:not_buy' shopping.id %}">購入をやめる</a></li>
                  {% endif %}
                  <li><a class='btn btn-primary btn-block my-1' href="{% url 'shoppinglist:update' shopping.id %}">編集</a></li>
                  <li>
                    <form method="post" action="{% url 'shoppinglist:delete' shopping.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                      <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                    </form>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endmacro %}
{% macro top_buy_table color %}
  {% if shopping.num > 0 %}
    <table class='table table-sm text-center table-striped'>
      <caption>{{shopping.name}} {{shopping.date}} : ¥{{shopping.total}}</caption>
      <thead class='col-12'>
        <tr class='col-12 table-{{color}}'>
          <th class='w-25' scope='col'>商品</th>
          <th class='w-25' scope='col'>店舗</th>
          <th class='w-25' scope='col'>価格</th>
          <th class='w-25' scope='col'>メニュー</th>
        </tr>
      </thead>
      <tbody>
        {% for shopping in shopping.shoppings %}
          <tr>
            <td>{{ shopping.name }}</td>
            <td>{{ shopping.shop }}</td>
            <td>{% if shopping.price > 0 %}¥{{ shopping.price }}　×{{ shopping.count }}{% endif %}</td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                <ul class="dropdown-menu" role="menu">
                  {% if shopping.buy_or_not == True %}
                    <li><a class='btn btn-primary btn-block' href="{% url 'shoppinglist:must_buy' shopping.id %}">購入リストに追加</a></li>
                  {% else %}
                    <li><a class='btn btn-primary btn-block' href="{% url 'shoppinglist:buy' shopping.id %}">購入済みにする</a></li>
                    <li><a class='btn btn-primary btn-block my-1' href="{% url 'shoppinglist:not_buy' shopping.id %}">購入をやめる</a></li>
                  {% endif %}
                  <li><a class='btn btn-primary btn-block my-1' href="{% url 'shoppinglist:update' shopping.id %}">編集</a></li>
                  <li>
                    <form method="post" action="{% url 'shoppinglist:delete' shopping.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                      <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                    </form>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endmacro %}
