{% extends "base/user_base.html" %}
{% load macros %} {% loadmacros "shoppinglist/shopping_macros.html" %}
{% block title %}買い物リスト{% endblock %}
{% block active_shopping %}active{% endblock %}
{% block content-xl-left %}
  {% usemacro buy_table "primary" %}
{% endblock %}
{% block content-xl-right %}
  {% usemacro bought_table "danger" %}
{% endblock %}
{% block content-md-left %}
  {% usemacro buy_table "primary" %}
{% endblock %}
{% block content-md-right %}
  {% usemacro bought_table "danger" %}
{% endblock %}
{% block content-sm %}
  <a class='btn btn-warning' href="{% url 'shoppinglist:create' %}">商品追加</a>
  {% usemacro buy_table "primary" %}
  {% usemacro bought_table "danger" %}
{% endblock %}
{% block content-xs %}
  <a class='btn btn-warning' href="{% url 'shoppinglist:create' %}">商品追加</a>
  {% usemacro buy_table "primary" %}
  {% usemacro bought_table "danger" %}
{% endblock %}
{% block content4 %}
  <a class='btn btn-warning d-block d-md-none' href="{% url 'shoppinglist:create' %}">商品追加</a>
{% endblock %}
