{% extends "base/logoned_base.html" %}
{% block title %}お知らせ{% endblock %}

{% block content %}
    <h2>〜お知らせ〜</h2>
    <table class='table table-bordered table-light table-striped text-center col-md-6 mx-auto'>
      <caption>アップデート履歴</caption>
      <thead class='thead-dark'>
        <tr class='bordered'>
          <th class="w-50">内容</th>
          <th class="w-50">アップデート日</th>
        </tr>
      </thead>
      <tbody>
        {% for update in update_list %}
          <tr>
            <th>{{update.title}}</th>
            {% if update.updated_at is not None %}
              <td>{{update.updated_at}}</td>
            {% else %}
              <td>今後実装予定</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
  　</table>
    <h4 class='my-5'>他にも欲しい機能がありましたら<br>開発者までお気軽にご要望ください</h4>

{% endblock %}
