{% extends "base/user_base.html" %}
{% block content2 %}
    {% for info in infos %}
        <table class='table d-block d-lg-none'>
          <thead class='border'>
            <tr>
              <th scope='col'></th>
              {% block name-xs %}{% endblock %}
              <th scope='col'>重/急</th>
              <th scope='col'>実行</th>
              <th scope='col'>期限</th>
              <th scope='col'>メニュー</th>
            </tr>
          </thead>
          <tbody class='sortable{{ forloop.counter }} border'>
            {% for task in info.tasks %}
              <tr id="task_{{ task.id }}">
                <th class='{% if task.expired %}text-danger{% endif %}' name="num_data" scope='row'>{{ forloop.counter }}</th>
                <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
                <td scope='col'>{% if task.important == True %}○{% else %}×{% endif %}/{% if task.urgent == True %}○{% else %}×{% endif %}</td>
                <td>{{ task.when.month }}/{{ task.when.day }}</td>
                <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
                <td><div class="dropleft">
                       <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                       <ul class="dropdown-menu" role="menu">
                         {% block button-xs %}{% endblock %}
                         <li><a class='btn btn-warning btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
                         <li><a class='btn btn-info btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                         <li><a class='btn btn-danger btn-block mt-1' href="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">削除</a></li>
                       </ul>
                </div></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class='table d-none d-lg-block'>
          <thead class='border'>
            <tr>
              <th scope='col'></th>
              {% block name-lg %}{% endblock %}
              <th scope='col'>重要</th>
              <th scope='col'>緊急</th>
              <th scope='col'>実行</th>
              <th scope='col'>期限</th>
              <th scope='col'>メニュー</th>
            </tr>
          </thead>
          <tbody class='sortable{{ forloop.counter }} border'>
            {% for task in info.tasks %}
              <tr id="task_{{ task.id }}">
                <th class='{% if task.expired %}text-danger{% endif %}' name="num_data" scope='row'>{{ forloop.counter }}</th>
                <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
                <td scope='col'>{% if task.important == True %}○{% else %}×{% endif %}</td>
                <td scope='col'>{% if task.urgent == True %}○{% else %}×{% endif %}</td>
                <td>{{ task.when.month }}/{{ task.when.day }}</td>
                <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
                <td><div class="dropdown">
                       <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                       <ul class="dropdown-menu" role="menu">
                         {% block button-lg %}{% endblock %}
                         <li><a class='btn btn-warning btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
                         <li><a class='btn btn-info btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                         <li><a class='btn btn-danger btn-block mt-1' href="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">削除</a></li>
                       </ul>
                </div></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endfor %}
{% endblock %}
