{% extends "task/list/list_base.html" %}
{% block title %}今日のタスクページ{% endblock %}
{% block active_today %}active{% endblock %}
{% block content %}
  {% if num == 0 %}
    <h1>今日のタスクは完了です！ゆっくり休みましょう！</h1>
  {% else %}
    <h1>今日のタスクはあと{{num}}個です！</h1>
    <h2>ドラッグ＆ドロップで優先順に並び替えましょう！</h2>
  {% endif %}
{% endblock %}
{% block name %}<th scope='col'>{{ info.name }}</th>{% endblock %}
{% block change %}
  <th scope='col'>時間帯</th>
  <!-- <th scope='col'>後</th> -->
{% endblock %}
{% block button %}
    {% if not forloop.parentloop.first %}
      <li><a href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
    {% endif %}
    <li><a href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
{% endblock %}