{% extends "base/user_base.html" %}
{% block title %}今日のタスクページ{% endblock %}
{% block active_today %}active{% endblock %}
{% block content-md-left %}
  {% if today_num == 0 %}
    <h2>今日のタスクは完了です！</h2>
  {% else %}
    <h2>今日のタスク : {{today_num}}個</h2>
  {% endif %}
  {% for info in today_infos %}
      <table class='table table-sm table-striped text-center'>
        <caption>{{info.name}} {{info.date}} : {{info.num}}個</caption>
        <thead>
          <tr class='table-info'>
            <th class=""></th>
            <th class="w-75">タスク名</th>
            <th class="">要</th>
            <th class="">急</th>
            <th class="w-25">期限</th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody id='sortable{{ forloop.counter }}'>
          {% for task in info.tasks %}
            <tr id="task_{{ task.id }}">
              <th class='{% if task.expired %}text-danger{% endif %}' name="num_data" scope='row'>{{ forloop.counter }}</th>
              <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
              <td>{% if task.important == True %}○{% else %}×{% endif %}</td>
              <td>{% if task.urgent == True %}○{% else %}×{% endif %}</td>
              <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
              <td><div class="dropdown">
                     <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                     <ul class="dropdown-menu" role="menu">
                       <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                       <li>
                         <form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                           <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                         </form>
                       </li>
                     </ul>
              </div></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
{% endblock %}
{% block content-md-right %}
  {% if tom.num == 0 %}
    <h2>明日は自由です！</h2>
  {% else %}
    <h2>明日のタスク : {{tom_num}}個</h2>
  {% endif %}
  {% for info in tom_infos %}
    <table class='table table-sm table-striped text-center'>
      <caption>{{info.name}} {{info.date}} : {{info.num}}個</caption>
      <thead>
        <tr class='table-danger'>
          <th class=""></th>
          <th class="w-75">タスク名</th>
          <th class="">要</th>
          <th class="">急</th>
          <th class="w-25">期限</th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody id='sortable{{ forloop.counter|add:"30" }}'>
        {% for task in info.tasks %}
          <tr id="task_{{ task.id }}">
            <th class='{% if task.expired %}text-danger{% endif %}' name="num_data7" scope='row'>{{ forloop.counter }}</th>
            <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
            <td>{% if task.important == True %}○{% else %}×{% endif %}</td>
            <td>{% if task.urgent == True %}○{% else %}×{% endif %}</td>
            <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
            <td><div class="dropdown">
                   <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                   <ul class="dropdown-menu" role="menu">
                     <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
                     <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
                     <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
                     <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
                     <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                     <li>
                       <form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                         <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                       </form>
                     </li>
                   </ul>
            </div></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endblock %}
{% block content-sm %}
  <h4>{% if today_num == 0 %}今日のタスクは完了です！{% else %}今日のタスク : {{today_num}}個{% endif %}
    <a class='btn btn-warning float-right' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a></h4>
  {% for info in today_infos %}
  <table class='table table-sm table-striped text-center'>
    <caption>{{info.name}} {{info.date}} : {{info.num}}個</caption>
    <thead>
      <tr class='table-primary'>
        <th class=""></th>
        <th class="w-75">タスク名</th>
        <th class="">要</th>
        <th class="">急</th>
        <th class="w-25">期限</th>
        <th class=""></th>
      </tr>
    </thead>
    <tbody id='sortable{{ forloop.counter|add:"5" }}'>
      {% for task in info.tasks %}
        <tr id="task_{{ task.id }}">
          <th class='{% if task.expired %}text-danger{% endif %}' name="num_data2" scope='row'>{{ forloop.counter }}</th>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
          <td>{% if task.important == True %}○{% else %}×{% endif %}</td>
          <td>{% if task.urgent == True %}○{% else %}×{% endif %}</td>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
          <td><div class="dropdown">
                 <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                 <ul class="dropdown-menu" role="menu">
                   <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
                   <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
                   <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
                   <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
                   <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                   <li>
                     <form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                       <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                     </form>
                   </li>
                 </ul>
          </div></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
{% endblock %}
{% block content2-sm %}
    <h4>{% if tom_num == 0 %}明日は自由です！{% else %}明日のタスク : {{tom_num}}個{% endif %}
  <a class='btn btn-warning float-right' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a></h4>

    {% for info in tom_infos %}
      <table class='table table-sm table-striped text-center'>
        <caption>{{info.name}} {{info.date}} : {{info.num}}個</caption>
        <thead>
          <tr class='table-danger'>
            <th class=""></th>
            <th class="w-75">タスク名</th>
            <th class="">要</th>
            <th class="">急</th>
            <th class="w-25">期限</th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody id='sortable{{ forloop.counter|add:"35" }}'>
          {% for task in info.tasks %}
            <tr id="task_{{ task.id }}">
              <th class='{% if task.expired %}text-danger{% endif %}' name="num_data8" scope='row'>{{ forloop.counter }}</th>
              <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
              <td>{% if task.important == True %}○{% else %}×{% endif %}</td>
              <td>{% if task.urgent == True %}○{% else %}×{% endif %}</td>
              <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
              <td><div class="dropdown">
                     <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                     <ul class="dropdown-menu" role="menu">
                       <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                       <li>
                         <form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                           <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                         </form>
                       </li>
                     </ul>
              </div></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
{% endblock %}
{% block content-xs %}
    <h4>{% if today_num == 0 %}今日のタスクは完了です！{% else %}今日のタスク : {{today_num}}個{% endif %}
      <a class='btn btn-warning float-right' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a></h4>

    {% for info in today_infos %}
        <table class='table table-sm {% if info.num > 5 %}table-responsive{% endif %} table-striped text-center'>
          <caption>{{info.name}} {{info.date}} : {{info.num}}個</caption>
          <thead class='table-primary'>
            <tr class=''>
              <th scope='col'></th>
              <th class="w-75">タスク名</th>
              <th class="w-25" scope='col'>期限</th>
              <th class="w-25" scope='col'>メニュー</th>
            </tr>
          </thead>
          <tbody id='sortable{{ forloop.counter|add:"10" }}'>
            {% for task in info.tasks %}
              <tr id="task_{{ task.id }}">
                <th class='{% if task.expired %}text-danger{% endif %}' name="num_data3" scope='row'>
                {% if info.name != '明日以降' %}{{ forloop.counter }}{% else %}{% block excute-xs %}{% endblock %}{% endif %}</th>
                <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
                <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
                <td><div class="dropdown">
                       <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                       <ul class="dropdown-menu" role="menu">
                         <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
                         <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
                         <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後へ</a></li>
                         <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
                         <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                         <li>
                           <form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                             <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                           </form>
                         </li>
                       </ul>
                </div></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endfor %}
{% endblock %}

{% block content2-xs %}
    <h4>{% if tom_num == 0 %}明日は自由です！{% else %}明日のタスク : {{tom_num}}個{% endif %}
    <a class='btn btn-warning float-right' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a></h4>

    {% for info in tom_infos %}
      <table class='table table-sm table-striped text-center'>
        <caption>{{info.name}} {{info.date}} : {{info.num}}個</caption>
        <thead>
          <tr class='table-danger'>
            <th class=""></th>
            <th class="w-75">タスク名</th>
            <th class="w-25">期限</th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody id='sortable{{ forloop.counter|add:"40" }}'>
          {% for task in info.tasks %}
            <tr id="task_{{ task.id }}">
              <th class='{% if task.expired %}text-danger{% endif %}' name="num_data9" scope='row'>{{ forloop.counter }}</th>
              <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
              <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
              <td><div class="dropdown">
                     <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                     <ul class="dropdown-menu" role="menu">
                       <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
                       <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                       <li>
                         <form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                           <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                         </form>
                       </li>
                     </ul>
              </div></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
{% endblock %}