{% extends "task/list/list_base.html" %}
{% block title %}明日のタスクページ{% endblock %}
{% block active_tomorrow %}active{% endblock %}
{% block message-md %}
  {% if num == 0 %}
    <h1 class='d-none d-md-block'>明日は自由に過ごしましょう！</h1>
  {% else %}
    <h1 class='d-none d-md-block'>明日のタスクは{{num}}個です！</h1>
  {% endif %}
{% endblock %}
{% block message %}
  {% if num == 0 %}
    <h4 class='d-block d-md-none'>明日は自由に過ごしましょう！</h4>
  {% else %}
    <h4 class='d-block d-md-none'>明日のタスクは{{num}}個です！</h4>
  {% endif %}
{% endblock %}
{% block button %}
    <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
    <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
{% endblock %}
{% block button-sm %}
    <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
    <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
{% endblock %}
{% block button-xs %}
    <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
    <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
{% endblock %}