{% extends "task/list/list_base.html" %}
{% block title %}明日のタスクページ{% endblock %}
{% block active_tomorrow %}active{% endblock %}
{% block content %}
  {% if num == 0 %}
    <h1>明日は自由に過ごしましょう！</h1>
  {% else %}
    <h1>明日のタスクは{{num}}個です！</h1>
    <h2>ドラッグ＆ドロップで優先順に並び替えましょう！</h2>
  {% endif %}
{% endblock %}
{% block change %}
  <th scope='col'>時間帯</th>
{% endblock %}
{% block button-lg %}
    {% if not forloop.parentloop.first %}
      <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
    {% endif %}
    <li><a class='btn btn-success btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
{% endblock %}
{% block button-xs %}
    {% if not forloop.parentloop.first %}
      <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
    {% endif %}
    <li><a class='btn btn-success btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
{% endblock %}