{% extends "task/list/list_base.html" %}
{% block title %}明日のタスクページ{% endblock %}
{% block active_tomorrow %}active{% endblock %}
{% block content %}
  {% if num == 0 %}
    <h1>明日は自由に過ごしましょう！</h1>
  {% else %}
    <h1>明日のタスクは{{num}}個です！</h1>
    <h2>ドラッグ＆ドロップで優先順に並び替えましょう！</h2>
  {% endif %}
{% endblock %}
{% block name %}<th scope='col'>{{ info.name }}</th>{% endblock %}
{% block change %}
  <th scope='col'>時間帯</th>
{% endblock %}
{% block change_button %}
  <td>
    {% if not forloop.parentloop.first %}
      <a href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">↑</a>
    {% endif %}
    <a href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">↓</a>
  </td>
{% endblock %}