{% extends "base/form_base.html" %}
{% block title3 %}削除確認ページ{% endblock %}
{% block form %}
  <h4 class='mb-5'>以下のタスクを削除します。よろしいですか？</h4>
  <div class="card card-default text-left">
    {% for key,value in task.items %}
    <div class="card-body">
      {{key}} : {{ value|linebreaksbr }}
    </div>
    {% endfor %}
    <div class="card-footer">
      <input class="btn btn-danger mr-3" type="submit" value="削除する">
      <a class="btn btn-success text-light" href="{% url 'task:redirect' %}?next={{ next }}">削除をやめて戻る</a>
    </div>
  </div>
{% endblock %}