{% extends "base/form_base.html" %}
{% block title3 %}完了日編集フォーム{% endblock %}
{% block h2 %}完了日編集フォーム{% endblock %}
{% block active_done %}active{% endblock %}
<!-- {% block action %}/done_update{% endblock%} -->
<!-- {% block input %}<input name='id' type="hidden" value="{{ id }}"/>{% endblock%} -->
{% block form %}
  {{ form.as_p }}
  <button class="btn btn-info btn-block mt-5 mb-4" type="submit">更新</button>
  <a class="btn btn-success btn-block text-light" href="{% url 'task:redirect' %}?next={{ next }}">編集をやめて戻る</a>
{% endblock%}
