{% extends "base/user_base.html" %}
{% load macros %} {% loadmacros "task/task_macros.html" %}
{% block title %}レポート{% endblock %}
{% block active_done %}active{% endblock %}

{% block content-xl-left %}
  {% usemacro report "h2" %}
  {% usemacro graph "Linehart1" "3vh" "2vw" %}
{% endblock %}
{% block content-xl-right %}
  <h2>今週の完了タスク<a class='btn btn-warning btn-sm mb-3 float-right' href="{% url 'task:list' user.pk %}">タスクページ</a>
  <a class='btn btn-success btn-sm mr-2 mb-3 float-right' href="{% url 'task:done_create' %}">完了タスク追加</a></h2>
  {% usemacro done_table "primary" "secondary" %}
{% endblock %}

{% block content-md-left %}
  {% usemacro report "h4" %}
  {% usemacro graph "Linehart2" "3vh" "2vw" %}
{% endblock %}
{% block content-md-right %}
  <div>
    <h4>今週の完了タスク</h4>
    <a class='btn btn-warning btn-sm mb-3 float-right' href="{% url 'task:list' user.pk %}">タスクページ</a>
    <a class='btn btn-success btn-sm mr-2 mb-3 float-right' href="{% url 'task:done_create' %}">完了タスク追加</a>
  </div>
  {% usemacro done_table "primary" "secondary" %}
{% endblock %}

{% block content-sm %}
  {% usemacro report "h3" %}
  {% usemacro graph "Linehart3" "2vh" "3vw" %}
{% endblock %}
{% block content2-sm %}
  <a class='btn btn-success btn-sm mr-2 mb-4 float-left' href="{% url 'task:done_create' %}">完了タスク追加</a>
  <a class='btn btn-warning btn-sm mb-4 float-left' href="{% url 'task:list' user.pk %}">タスクページ</a>
  {% usemacro done_table "primary" "secondary" %}
{% endblock %}

{% block content-xs %}
  {% usemacro report "h4" %}
  {% usemacro graph "Linehart4" "1vh" "2vw" %}
{% endblock %}
{% block content2-xs %}
  <a class='btn btn-success btn-sm mr-2 mb-4 float-left' href="{% url 'task:done_create' %}">完了タスク追加</a>
  <a class='btn btn-warning btn-sm mb-4 float-left' href="{% url 'task:list' user.pk %}">タスクページ</a>
  {% usemacro done_table "primary" "secondary" %}
{% endblock %}