{% extends "base/user_base.html" %}
{% load macros %} {% loadmacros "task/macros.html" %}
{% block title %}今日のタスクページ{% endblock %}
{% block active_today %}active{% endblock %}

{% block content-xl-left %}
  {% usemacro today_message "h2" %}
  {% for info in today_infos %}
    {% usemacro table "primary" "today_xl" %}
  {% endfor %}
{% endblock %}
{% block content-xl-right %}
  {% usemacro tom_message "h2" %}
  {% for info in tom_infos %}
    {% usemacro table "danger" "tom_xl" %}
  {% endfor %}
  {% usemacro other_message "h2" %}
  {% usemacro other_table "danger" %}
{% endblock %}

{% block content-md-left %}
  {% usemacro today_message "h3" %}
  {% for info in today_infos %}
    {% usemacro table_xs "primary" "today_md" %}
  {% endfor %}
{% endblock %}
{% block content-md-right %}
  {% usemacro tom_message "h3" %}
  {% for info in tom_infos %}
    {% usemacro table_xs "danger" "tom_md" %}
  {% endfor %}
  {% usemacro other_message "h3" %}
  {% usemacro other_table_xs "danger" %}
{% endblock %}

{% block content-sm %}
  <a class='btn btn-warning float-right' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a></h4>
  {% usemacro today_message "h4" %}
  {% for info in today_infos %}
    {% usemacro table "primary" "today_sm" %}
  {% endfor %}
{% endblock %}
{% block content2-sm %}
  <a class='btn btn-warning float-right' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a>
  {% usemacro tom_message "h4" %}
  {% for info in tom_infos %}
    {% usemacro table "danger" "tom_sm" %}
  {% endfor %}
{% endblock %}
{% block content3-sm %}
  <a class='btn btn-warning float-right mb-3' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a>
  {% usemacro other_message "h4" %}
  {% usemacro other_table "success" %}
{% endblock %}

{% block content-xs %}
  <a class='btn btn-sm btn-warning float-right' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a></h4>
  {% usemacro today_message "h5" %}
  {% for info in today_infos %}
    {% usemacro table_xs "primary" "today_xs" %}
  {% endfor %}
{% endblock %}
{% block content2-xs %}
  <a class='btn btn-sm btn-warning float-right' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a>
  {% usemacro tom_message "h5" %}
  {% for info in tom_infos %}
    {% usemacro table_xs "danger" "tom_xs" %}
  {% endfor %}
{% endblock %}
{% block content3-xs %}
  <a class='btn btn-sm btn-warning float-right mb-3' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a>
  {% usemacro other_message "h5" %}
  {% usemacro other_table_xs "success" %}
{% endblock %}