{% load macros %}
{% macro today_message size %}
  {% if today_num == 0 %}
    <{{size}}>今日のタスクは完了です！</{{size}}>
  {% else %}
    <{{size}}>今日のタスク : {{today_num}}個</{{size}}>
  {% endif %}
{% endmacro %}
{% macro tom_message size %}
  {% if today_num == 0 %}
    <{{size}}>明日は自由です！</{{size}}>
  {% else %}
    <{{size}}>明日のタスク : {{tom_num}}個</{{size}}>
  {% endif %}
{% endmacro %}
{% macro other_message size %}
  <{{size}} class='mt-5 mb-3'>明日以降のタスク : {{other.num}}個</{{size}}>
{% endmacro %}
{% macro top_message size margin %}
  <{{size}}>タスク<a class='btn btn-warning ml-2 {{margin}} btn-sm float-right' href="{% url 'task:create' %}?next={{ request.get_full_path }}">タスク追加</a>
  <a class='btn btn-success btn-sm {{margin}} float-right' href="{% url 'task:list' user.pk %}?next={{ request.get_full_path }}">タスク詳細</a></{{size}}>
{% endmacro %}
{% macro report size %}
  <{{size}}>今日 : {{ today }}個　今週 : {{ week.num }}個 <span class='text-info'>Level{{ week.level }}</span></{{size}}>
{% endmacro %}
{% macro book_top size %}
  <{{size}}>本<a class='btn btn-warning float-right' href="{% url 'book:create' %}">本追加</a></{{size}}>
{% endmacro %}

{% macro table color ids %}
  <table class='table table-sm table-striped text-center'>
    <caption>{{info.name}} {{info.date}} : {{info.num}}個</caption>
    {% if info.num > 0 %}
    <thead>
      <tr class='table-{{color}}'>
        <th class=""></th>
        <th class="w-75">タスク名</th>
        <th class="">要</th>
        <th class="">急</th>
        <th class="w-25">期限</th>
        <th class="">メニュー</th>
      </tr>
    </thead>
    <tbody id="sort_{{ ids }}{{ forloop.counter }}">
      {% for task in info.tasks %}
        <tr id="task_{{ task.id }}">
          <th class='{% if task.expired %}text-danger{% endif %}' name='num_data' scope='row'>{{ forloop.counter }}</th>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
          <td>{% if task.important == True %}○{% else %}×{% endif %}</td>
          <td>{% if task.urgent == True %}○{% else %}×{% endif %}</td>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
          <td><div class="dropdown">
            <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
            <ul class="dropdown-menu" role="menu">
              <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}?next={{ request.get_full_path }}" onclick=done_alert()>完了</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
              <li><form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
              </form></li>
            </ul>
          </div></td>
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
{% endmacro %}
{% macro table_xs color ids %}
  <table class='table table-sm {% if info.num > 5 %}table-responsive{% endif %} table-striped text-center'>
    <caption>{{info.name}} {{info.date}} : {{info.num}}個</caption>
    {% if info.num > 0 %}
      <thead>
        <tr class='table-{{ color }}'>
          <th scope='col'></th>
          <th class="w-75">タスク名</th>
          <th class="w-25" scope='col'>期限</th>
          <th class="w-25" scope='col'>メニュー</th>
        </tr>
      </thead>
      <tbody id="sort_{{ ids }}{{ forloop.counter }}">
        {% for task in info.tasks %}
          <tr id="task_{{ task.id }}">
            <th class='{% if task.expired %}text-danger{% endif %}' name='num_data' scope='row'>{{ forloop.counter }}</th>
            <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
            <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
            <td><div class="dropdown">
              <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
              <ul class="dropdown-menu" role="menu">
                <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
                <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
                <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
                <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}?next={{ request.get_full_path }}" onclick=done_alert()>完了</a></li>
                <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                <li><form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                  <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                </form></li>
              </ul>
            </div></td>
          </tr>
        {% endfor %}
      </tbody>
    {% endif %}
  </table>
{% endmacro %}
{% macro other_table color %}
  <table class='table table-sm table-striped text-center'>
    {% if other.num > 0 %}
    <thead>
      <tr class='table-{{color}}'>
        <th class=""></th>
        <th class="w-75">タスク名</th>
        <th class="">要</th>
        <th class="">急</th>
        <th class="w-25">期限</th>
        <th class="">メニュー</th>
      </tr>
    </thead>
    <tbody>
      {% for task in other.tasks %}
        <tr>
          <th class='{% if task.expired %}text-danger{% endif %}' scope='row'>{{ task.when.month }}/{{ task.when.day }}</th>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
          <td>{% if task.important == True %}○{% else %}×{% endif %}</td>
          <td>{% if task.urgent == True %}○{% else %}×{% endif %}</td>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
          <td><div class="dropdown">
            <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
            <ul class="dropdown-menu" role="menu">
              <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
              <li><form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
              </form></li>
            </ul>
          </div></td>
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
{% endmacro %}
{% macro other_table_xs color %}
  <table class='table table-sm {% if info.num > 5 %}table-responsive{% endif %} table-striped text-center'>
    {% if other.num > 0 %}
      <thead>
        <tr class='table-{{ color }}'>
          <th scope='col'></th>
          <th class="w-75">タスク名</th>
          <th class="w-25" scope='col'>期限</th>
          <th class="w-25" scope='col'></th>
        </tr>
      </thead>
      <tbody>
        {% for task in other.tasks %}
          <tr>
            <th class='{% if task.expired %}text-danger{% endif %}' scope='row'>{{ task.when.month }}/{{ task.when.day }}</th>
            <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
            <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
            <td><div class="dropdown">
              <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
              <ul class="dropdown-menu" role="menu">
                <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
                <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">時間帯を前へ</a></li>
                <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">時間帯を後ろへ</a></li>
                <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}" onclick=done_alert()>完了</a></li>
                <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
                <li><form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                  <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                </form></li>
              </ul>
            </div></td>
          </tr>
        {% endfor %}
      </tbody>
    {% endif %}
  </table>
{% endmacro %}
{% macro done_table color %}
  <table class='table table-sm table-striped text-center'>
    <thead>
      <tr class='table-{{color}}'>
        <th scope='col'></th>
        <th class="w-50" scope='col'>タスク名</th>
        <th scope='col'>要</th>
        <th scope='col'>急</th>
        <th class="w-25" scope='col'>完了</th>
        <th class="w-25" scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {% for done in week.tasks %}
        <tr>
          <th scope='row'>{{ forloop.counter }}</th>
          <td>{{ done.name }}</td>
          <td>{% if done.important == True %}○{% else %}×{% endif %}</td>
          <td>{% if done.urgent == True %}○{% else %}×{% endif %}</td>
          <td>{{ done.done_date.month }}/{{ done.done_date.day }}</td>
          <td><div class="dropdown">
            <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
            <ul class="dropdown-menu" role="menu">
              <li><a class='btn btn-primary btn-block' href="{% url 'task:done_before' done.id %}">完了日を前へ</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done_after' done.id %}">完了日を後へ</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done_update' done.id %}">編集</a></li>
              <li><a class='btn btn-primary btn-block' href="{% url 'task:recover' done.id %}">未完了にする</a></li>
            </ul>
          </div></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
{% macro top_table color %}
  <table class='table table-sm table-striped text-center'>
    <caption>今日 {{todo.name}} {{todo.date}} : {{todo.num}}個</caption>
    {% if todo.num > 0 %}
    <thead>
      <tr class='table-{{color}}'>
        <th class=""></th>
        <th class="w-75">タスク名</th>
        <th class="">要</th>
        <th class="">急</th>
        <th class="w-25">期限</th>
        <th class=""></th>
      </tr>
    </thead>
    <tbody>
      {% for task in todo.tasks %}
        <tr>
          <th class='{% if task.expired %}text-danger{% endif %}' scope='row'>{{ forloop.counter }}</th>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
          <td>{% if task.important == True %}○{% else %}×{% endif %}</td>
          <td>{% if task.urgent == True %}○{% else %}×{% endif %}</td>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
          <td><div class="dropdown">
            <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
            <ul class="dropdown-menu" role="menu">
              <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}?next={{ request.get_full_path }}" onclick=done_alert()>完了</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
              <li><form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
              </form></li>
            </ul>
          </div></td>
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
{% endmacro %}
{% macro top_table_xs color %}
  <table class='table table-sm {% if info.num > 5 %}table-responsive{% endif %} table-striped text-center'>
    <caption>今日 {{todo.name}} {{todo.date}} : {{todo.num}}個</caption>
    {% if todo.num > 0 %}
    <thead>
      <tr class='table-{{color}}'>
        <th scope='col'></th>
        <th class="w-75">タスク名</th>
        <th class="w-25" scope='col'>期限</th>
        <th class="" scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {% for task in todo.tasks %}
        <tr>
          <th class='{% if task.expired %}text-danger{% endif %}' scope='row'>{{ forloop.counter }}</th>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.name }}</td>
          <td class='{% if task.expired %}text-danger{% endif %}'>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
          <td><div class="dropdown">
            <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
            <ul class="dropdown-menu" role="menu">
              <li><a class='btn btn-primary btn-block' href="{% url 'task:later' task.id %}?next={{ request.get_full_path }}">実行日を翌日に</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:done' task.id %}?next={{ request.get_full_path }}" onclick=done_alert()>完了</a></li>
              <li><a class='btn btn-primary btn-block my-1' href="{% url 'task:update' task.id %}?next={{ request.get_full_path }}">編集</a></li>
              <li><form method="post" action="{% url 'task:delete' task.id %}?next={{ request.get_full_path }}">{% csrf_token %}
                <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
              </form></li>
            </ul>
          </div></td>
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
{% endmacro %}
{% macro book_table color %}
  {% for info in book_infos %}
    {% if info.num > 0 %}
      <table class='table table-sm table-striped text-center'>
        <caption>{{info.name}} : {{info.num}}冊</caption>
        <thead>
          <tr class='table-{{color}}'>
            <th class=""></th>
            <th class="w-50">タイトル</th>
            <th class="w-25">著者</th>
            <th class="w-25">期限</th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody>
          {% for book in info.books %}
            <tr id="book_{{ book.id }}">
              <th class='{% if book.expired %}text-danger{% endif %}' scope='row'>{{ forloop.counter }}</th>
              <td class='{% if book.expired %}text-danger{% endif %}'>{{ book.title }}</td>
              <td class='{% if book.expired %}text-danger{% endif %}'>{% if book.author is not None %}{{ book.author}}{% endif %}</td>
              <td class='{% if book.expired %}text-danger{% endif %}'>{{ book.deadline.month }}/{{ book.deadline.day }}</td>
              <td><div class="dropdown">
                <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                <ul class="dropdown-menu" role="menu">
                  <li><a class='btn btn-primary btn-block' href="{% url 'book:later' book.id %}">期限を翌日に</a></li>
                  <li><a class='btn btn-primary btn-block my-1' href="{% url 'book:read' book.id %}" onclick=done_alert()>読了</a></li>
                  <li><a class='btn btn-primary btn-block my-1' href="{% url 'book:update' book.id %}">編集</a></li>
                  <li><form method="post" action="{% url 'book:delete' book.id %}">{% csrf_token %}
                    <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                  </form></li>
                </ul>
              </div></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro graph id h w %}
  <canvas id="{{ id }}" style="height:{{ h }}; width:{{ w }}"></canvas>
  <script type="text/javascript">
    var ctx = document.getElementById("{{ id }}");
    var weekdays = ['日','月','火','水','木','金','土'];
    var label = [0,1,2,3,4,5,6]
    var today = new Date();
    for (let i = 0; i < 7; i++) {
      var day = new Date();
      day.setDate(today.getDate()-6+i);
      label[i] = (day.getMonth()+1)+'/'+day.getDate()+'('+weekdays[day.getDay()]+')';
    }
    var LineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: label,
          datasets: [{
            label: 'タスク完了数',
            data: {{data}},
            borderColor: "rgba(255,0,0,1)",
            backgroundColor: "rgba(0,0,0,0)",
            lineTension: 0
          }],
        },
        options: {
          title: {
            display: true,
            text: '今週のタスク完了状況',
            elements: {
              line: {
                  tension: 0, // ベジェ曲線を無効にする
              }
            },
            responsive: true,
            maintainAspectRatio: false
          },
          scales: {
            yAxes: [{
              ticks: {
                // suggestedMax: 100,
                suggestedMin: 0,
                stepSize: 1,
                // callback: function(value, index, values){
                //   return  value +  '個'
                // }
              }
            }]
          },
        }
    });
  </script>
{% endmacro %}