{% load macros %}
{% macro book_top size %}
  <{{size}}>本<a class='btn btn-warning ml-2 btn-sm float-right' href="{% url 'book:create' %}">本追加</a>
  <a class='btn btn-success btn-sm float-right' href="{% url 'book:index' user.pk %}?next={{ request.get_full_path }}">本詳細</a></{{size}}>
{% endmacro %}

{% macro book_table thead_color btn_color %}
  {% for info in infos %}
    {% if info.num > 0 %}
      <table class='table table-sm table-striped text-center'>
        <caption>{{info.name}} : {{info.num}}冊</caption>
        <thead>
          <tr class='table-{{thead_color}}'>
            <th class=""></th>
            <th class="w-50">タイトル</th>
            <th class="w-25">期限</th>
            <th class="w-25">メニュー</th>
          </tr>
        </thead>
        <tbody id='sortable{{ forloop.counter |add:"15" }}'>
          {% for book in info.books %}
            <tr id="book_{{ book.id }}">
              <th class='{% if book.expired %}text-danger{% endif %}' name="num_data" scope='row'>{{ forloop.counter }}</th>
              <td class='{% if book.expired %}text-danger{% endif %}'>{{ book.title }}</td>
              <td class='{% if book.expired %}text-danger{% endif %}'>{{ book.deadline.month }}/{{ book.deadline.day }}</td>
              <td><div class="dropdown">
                <button type="button" class="btn-xs btn-{{btn_color}} dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                <ul class="dropdown-menu" role="menu">
                  <li><a class='btn btn-primary btn-block' href="{% url 'book:later' book.id %}">期限を翌日に</a></li>
                  <li><a class='btn btn-primary btn-block my-1' href="{% url 'book:read' book.id %}" onclick=done_alert()>読了</a></li>
                  <li><a class='btn btn-primary btn-block my-1' href="{% url 'book:update' book.id %}">編集</a></li>
                  <li>
                    <form method="post" action="{% url 'book:delete' book.id %}">{% csrf_token %}
                      <button class="btn btn-primary btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                    </form>
                  </li>
                </ul>
              </div></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}
{% endmacro %}