{% extends "base/user_base.html" %}
{% load macros %} {% loadmacros "book/book_macros.html" %}
{% block active_book %}active{% endblock %}
{% block content-xl-left %}
  <a class='btn btn-warning' href="{% url 'book:create' %}">本追加</a>
  {% usemacro book_table "primary" "secondary" %}
{% endblock %}
{% block content-xl-right %}
{% endblock %}
{% block content-md-left %}
  <a class='btn btn-warning' href="{% url 'book:create' %}">本追加</a>
  {% usemacro book_table "primary" "secondary" %}
{% endblock %}
{% block content-md-right %}
{% endblock %}
{% block content-sm %}
  {% usemacro book_title "h3" %}
  {% usemacro book_table "primary" "secondary" %}
{% endblock %}
{% block content-xs %}
  {% usemacro book_title "h3" %}
  {% usemacro book_table "primary" "secondary" %}
{% endblock %}
{% block content4 %}
  <a class='btn btn-success d-block d-md-none' href="{% url 'book:create' %}">本追加</a>
{% endblock %}