{% extends "base.html" %}
{% block title %}ログインフォーム{% endblock %}
{% block li %}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="/accounts/login">ログイン</a>
    </li>
{% endblock %}
{% block header %}
    <h2 class='pt-5'>新規登録フォーム</h2>
    <form class='col-xl-6 col-md-8 col-lg-6 col-sm-12 mx-auto m-5' method="POST" action="/create_user/">
        {%csrf_token%}
        <table class='mx-auto'>
            <tr>
                <td>{{form.username.label_tag}}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{form.email.label_tag}}</td>
                <td>{{form.email}}</td>
            </tr>
            <tr>
                <td>{{form.password.label_tag}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>
        <input class="btn btn-primary btn-block mt-5 mb-4" value="Sign up" type="submit"/>
        <a class="btn btn-success btn-block" href="/accounts/login">登録済みの方はこちら</a>
    </form>
{% endblock %}
