{% extends "user_base.html" %}
{% block title %}一覧ページ{% endblock %}
{% block active_done %}active{% endblock %}
{% block content %}
  <h1>{{ message }}</h1>
{% endblock %}
{% block content2 %}
    {% for dic in dics %}
        <table class='table border col-12'>
          <thead>
            <tr>
              <th scope='col'></th>
              <th scope='col'>{{dic.name}}完了したタスク : <span class='text-danger'>{{dic.num}}個</span></th>
              <th scope='col'>重要</th>
              <th scope='col'>緊急</th>
              <th scope='col'>完了日</th>
              <th scope='col'>編集</th>
              <th scope='col'>元に戻す</th>
            </tr>
          </thead>
          <tbody>
            {% for done in dic.done %}
              <tr>
                <th scope='row'>{{ forloop.counter }}</th>
                <td>{{ done.name }}</td>
                <td>{% if done.important == True %}○{% else %}✖️{% endif %}</td>
                <td>{% if done.urgent == True %}○{% else %}✖️{% endif %}</td>
                <td>{{ done.done_date.month }}/{{ done.done_date.day }}</td>
                <td>
                  <form method="POST" action="/done_edit_view">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ done.id }}"/>
                      <button type="submit" class='small'>edit</button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="/recover">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ done.id }}"/>
                      <button type="submit" class='small'>return</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endfor %}
{% endblock %}
