{% extends "base.html" %}
{% block title %}一覧ページ{% endblock %}
{% block content %}
        <table class='table border col-8'>
          <thead>
            <tr>
              <th scope='col'></th>
              <th scope='col'>タスク名</th>
              <th scope='col'>削除</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <th scope='row'>{{ forloop.counter }}</th>
                <td>{{ task.name }}</td>
                <td>
                  <form method="POST" action="/delete">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">削除</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
