{% extends "user_base.html" %}
{% block title %}一覧ページ{% endblock %}
{% block active1 %}active{% endblock %}
{% block content %}
<h1>{{user.username}}さん 今日も頑張りましょう！</h1>
{% endblock %}
{% block content2 %}
        <table class='table border col-12'>
          <thead>
            <tr>
              <th scope='col'></th>
              <th scope='col'>今日のタスク : <span class='text-danger'>{{num_today}}個</span></th>
              <th scope='col'>重要</th>
              <th scope='col'>緊急</th>
              <th scope='col'>実行予定日</th>
              <th scope='col'>期限</th>
              <th scope='col'>完了</th>
              <th scope='col'>編集</th>
              <th scope='col'>削除</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks_today %}
              <tr>
                <th scope='row'>{{ forloop.counter }}</th>
                <td>{{ task.name }}</td>
                <td>{% if task.important == True %}○{% else %}✖️{% endif %}</td>
                <td>{% if task.urgent == True %}○{% else %}✖️{% endif %}</td>
                <td>{{ task.when }}</td>
                <td>{{ task.deadline }}</td>
                <td>
                  <form method="POST" action="/done">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">完了</button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="/edit_view">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">編集</button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="/delete">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">削除</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
{% block content3 %}
        <table class='table border col-12'>
          <thead>
            <tr>
              <th scope='col'></th>
              <th scope='col'>明日のタスク : <span class='text-danger'>{{num_tom}}個</span></th>
              <th scope='col'>重要</th>
              <th scope='col'>緊急</th>
              <th scope='col'>実行予定日</th>
              <th scope='col'>期限</th>
              <th scope='col'>完了</th>
              <th scope='col'>編集</th>
              <th scope='col'>削除</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks_tom %}
              <tr>
                <th scope='row'>{{ forloop.counter }}</th>
                <td>{{ task.name }}</td>
                <td>{% if task.important == True %}○{% else %}✖️{% endif %}</td>
                <td>{% if task.urgent == True %}○{% else %}✖️{% endif %}</td>
                <td>{{ task.when }}</td>
                <td>{{ task.deadline }}</td>
                <td>
                  <form method="POST" action="/done">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">完了</button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="/edit_view">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">編集</button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="/delete">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">削除</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
{% block content4 %}
        <table class='table border col-12'>
          <thead>
            <tr>
              <th scope='col'></th>
              <th scope='col'>明後日以降のタスク</th>
              <th scope='col'>重要</th>
              <th scope='col'>緊急</th>
              <th scope='col'>実行予定日</th>
              <th scope='col'>期限</th>
              <th scope='col'>完了</th>
              <th scope='col'>編集</th>
              <th scope='col'>削除</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <th scope='row'>{{ forloop.counter }}</th>
                <td>{{ task.name }}</td>
                <td>{% if task.important == True %}○{% else %}✖️{% endif %}</td>
                <td>{% if task.urgent == True %}○{% else %}✖️{% endif %}</td>
                <td>{{ task.when }}</td>
                <td>{{ task.deadline }}</td>
                <td>
                  <form method="POST" action="/done">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">完了</button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="/edit_view">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">編集</button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="/delete">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">削除</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
