{% extends "base.html" %}
{% block title %}ログインフォーム{% endblock %}
{% block nav %}
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="/">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="/create_user_view">新規登録</a>
    </li>
  </ul>
</nav>
{% endblock %}
{% block header %}
    <h2 class='m-5'>ログインフォーム</h2>
    <form class='col-xl-6 col-md-8 col-lg-6 col-sm-12 mx-auto m-5' method="POST" action="/login_view">
        {%csrf_token%}
        <table class='mx-auto my-3'>
            <tr class='my-1'>
                <td>{{form.username.label_tag}}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr class='my-1'>
                <td>{{form.password.label_tag}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>
        <input class="btn btn-info btn-block my-5" value="login" type="submit"/>
    </form>
    <a class="btn btn-success btn-block my-5" href="/create_user_view">新規登録はこちら</a>
{% endblock %}
