{% extends "base.html" %}
{% block title %}お知らせ{% endblock %}
{% block li %}
  {% if user.is_authenticated %}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'list' user.pk %}">一覧</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'today' user.pk %}">今日のタスク</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'tomorrow' user.pk %}">明日のタスク</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'done_view' user.pk %}">完了済み</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="/logout">ログアウト</a>
    </li>
  {% else %}
  {% endif %}
{% endblock %}

{% block header %}
    <h2>〜お知らせ〜</h2>
    <h3 class='my-5'>近日中に以下の機能を追加します</h3>
    <div class='container mx-auto pt-3 pb-1 my-5 col-xl-5 col-md-8 col-lg-6 col-sm-12 bg-white text-danger'>
      <ul>
        <li class='text-left'>今日の予定のLINE通知機能</li>
        <li class='text-left'>メール認証機能</li>
        <li class='text-left'>優先順位（こなす順番を決める)機能</li>
        <li class='text-left'>繰り返しタスク追加機能</li>
        <li class='text-left'>日付をカレンダー形式で選択する機能</li>
        <li class='text-left'>今日、明日のタスクを時間帯まで決める機能</li>
        <li class='text-left'>編集機能の改良</li>
        <li class='text-left'>ユーザー名ログインをメールログインに変更</li>
      </ul>
    </div>
    <h3>他にも欲しい機能がありましたら<br>開発者までお気軽にご要望ください</h3>

{% endblock %}
