{% extends "user_base.html" %}
{% block title %}明日の予定ページ{% endblock %}
{% block active4 %}active{% endblock %}
{% block content %}
    <h1>{{message}}</h1>
{% endblock %}
{% block content2 %}
    {% if user.is_authenticated %}
        <table class='table border col-12'>
          <thead>
            <tr>
              <th scope='col'></th>
              <th scope='col'>タスク名</th>
              <th scope='col'>実行予定日</th>
              <th scope='col'>期限</th>
              <th scope='col'>完了</th>
              <th scope='col'>編集</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <th scope='row'>{{ forloop.counter }}</th>
                <td>{{ task.name }}</td>
                <td>{{ task.when }}</td>
                <td>{{ task.deadline }}</td>
                <td>
                  <form method="POST" action="/done">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">完了</button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="/edit_view">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit">編集</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {%else%}
        <h1>ログインして下さい</h1>
    {%endif%}
{% endblock %}
