{% extends "user_base.html" %}
{% block title %}{% block title_1 %}{% endblock %}{% endblock %}
{% block active_today %}{% block active_today1 %}{% endblock %}{% endblock %}
{% block active_tomorrow %}{% block active_tomorrow1 %}{% endblock %}{% endblock %}
{% block content %}{% block content_1 %}{% endblock %}{% endblock %}
{% block content2 %}
    {% for info in infos %}
        <table class='table border col-12'>
          <thead>
            <tr>
              <th scope='col'></th>
              {% block name %}{% endblock %}
              <th scope='col'>重/急</th>
              <th scope='col'>実行</th>
              <th scope='col'>1日後</th>
              <th scope='col'>期限</th>
              <th scope='col'>完了</th>
              <th scope='col'>編集</th>
              <th scope='col'>削除</th>
            </tr>
          </thead>
          <tbody class='sortable'>
            {% for task in info.tasks %}
              <tr id="task_{{ task.id }}">
                <th name="num_data" scope='row'>{{ forloop.counter }}</th>
                <td>{{ task.name }}</td>
                <td>{% if task.important == True %}○{% else %}×{% endif %}/{% if task.urgent == True %}○{% else %}×{% endif %}</td>
                <td>{{ task.when.month }}/{{ task.when.day }}</td>
                <td><a href="{% url 'task:later' task.id %}">翌日</a></td>
                <td>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
                <td><a href="{% url 'task:done' task.id %}">done</a></td>
                <td><a href="{% url 'task:update' task.id %}">edit</a></td>
                <td><a href="{% url 'task:delete' task.id %}">del</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endfor %}
{% endblock %}
