{% extends "Menu/list/list_base.html" %}
{% block title_1 %}今日のタスクページ{% endblock %}
{% block active_today1 %}active{% endblock %}
{% block content_1 %}
  {% if num == 0 %}
    <h1>今日のタスクは完了です！ゆっくり休みましょう！</h1>
  {% else %}
    <h1>今日のタスクはあと{{num}}個です！</h1>
    <h2>ドラッグ＆ドロップで優先順に並び替えましょう！</h2>
  {% endif %}
{% endblock %}
{% block name %}<th scope='col'>{{ info.name }}</th>{% endblock %}
{% block change %}
  <th scope='col'>時間帯</th>
{% endblock %}
{% block change_button %}
  <td>
    {% if not forloop.parentloop.first %}
      <a href="{% url 'task:period_before' task.id %}?next={{ request.get_full_path }}">↑</a>
    {% endif %}
    <a href="{% url 'task:period_after' task.id %}?next={{ request.get_full_path }}">↓</a>
  </td>
{% endblock %}