{% extends "base/base.html" %}
{% load static %}
{% block title %}トップページ{% endblock %}

{% block li %}
    {% if user.is_authenticated %}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'top' user.pk %}">タスク管理を始める</a>
    </li>
    {%else%}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'account_login' %}">ログイン</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'account_signup' %}">新規登録</a>
    </li>
    {%endif%}
{% endblock %}
{% block content %}
  <br>
  <h1 class="mb-1 pt-5">Smart Life<br>Planner</h1>
  <h3 class="mb-5">
    <em>You can lead a smart life by planning</em>
  </h3>
  <div class="row mx-auto col-md-10 col-lg-7 col-xl-6">
    <div class="my-3 col-md mx-auto">
      <a class="btn btn-primary btn-block js-scroll-trigger" href="{% url 'account_login' %}">ログイン</a>
    </div>
    <div class="my-3 col-md mx-auto">
      <a class="btn btn-success btn-block js-scroll-trigger" href="{% url 'account_signup' %}">新規登録</a>
    </div>
    <div class="my-3 col-md mx-auto">
      <a class="btn btn-info btn-block js-scroll-trigger" href="#about">機能を知る</a>
    </div>
  </div>
{% endblock %}
{% block content2 %}
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h3>「LIFE」という言葉は「日々の生活」・「人生」両方を意味します</h3>
        <h3>「日々の生活」の積み重ねが「人生」の豊かさにつながるのです</h3>
        <p class="lead mb-5">このアプリはあなたの豊かな<strong>LIFE</strong>をサポートします</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'account_signup' %}">使い始める</a>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Services</h3>
      <h2 class="mb-5">Why you should choose this app?</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-screen-smartphone"></i>
        </span>
        <h4>
          <strong>タスク・本管理</strong>
        </h4>
        <p class="text-faded mb-0">日々のタスク・ルーティンと<br>読むべき本を管理！</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-mustache"></i>
        </span>
        <h4>
          <strong>買い物リスト</strong>
        </h4>
        <p class="text-faded mb-0">会計前に合計金額を<br>知ることで節約！(実装予定)</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-pencil"></i>
        </span>
        <h4>
          <strong>長期プラン作成</strong>
        </h4>
        <p class="text-faded mb-0">数ヶ月、数年先に何をすべきか？<br>人生は賢く計画的に！(実装予定)</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-like"></i>
        </span>
        <h4>
          <strong>LINE連携</strong>
        </h4>
        <p class="text-faded mb-0">今日のタスク一覧とレポートを<br>1日4回LINE配信！</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
