{% extends "user_base.html" %}
{% block title %}明日のタスクページ{% endblock %}
{% block active_tomorrow %}active{% endblock %}
{% block content %}
    {% if num == 0 %}
          <h1>明日は自由に過ごしましょう！</h1>
    {% else %}
          <h1>明日のタスクは{{num}}個です！</h1>
          <h2>ドラッグ＆ドロップで優先順に並び替えましょう！</h2>
    {% endif %}
{% endblock %}
{% block content2 %}
        <table class='table border col-12'>
          <thead>
            <tr>
              <th scope='col'></th>
              <th scope='col'>タスク名</th>
              <th scope='col'>重要</th>
              <th scope='col'>緊急</th>
              <th scope='col'>実行予定日</th>
              <th scope='col'>期限</th>
              <th scope='col'>完了</th>
              <th scope='col'>編集</th>
            </tr>
          </thead>
          <tbody class='sortable'>
            {% for task in tasks %}
              <tr id="task_{{ task.id }}">
                <th name="num_data" scope='row'>{{ forloop.counter }}</th>
                <td>{{ task.name }}</td>
                <td>{% if task.important == True %}○{% else %}✖️{% endif %}</td>
                <td>{% if task.urgent == True %}○{% else %}✖️{% endif %}</td>
                <td>{{ task.when.month }}/{{ task.when.day }}</td>
                <td>{{ task.deadline.month }}/{{ task.deadline.day }}</td>
                <td>
                  <form method="POST" action="/done">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit" class='small' onclick="done_alert()">done</button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="/edit">
                      {%csrf_token%}
                      <input name='id' type="hidden" value="{{ task.id }}"/>
                      <button type="submit" class='small'>edit</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
