{% extends "base/user_base.html" %}
{% load macros %} {% loadmacros "task/task_macros.html" %}
{% load macros %} {% loadmacros "shoppinglist/shopping_macros.html" %}
{% load macros %} {% loadmacros "book/book_macros.html" %}
{% block title %}トップページ{% endblock %}
{% block content-xl-left %}
  {% usemacro top_message "h1" %}
  {% usemacro top_table "primary" "secondary" %}
{% endblock %}
{% block content2-xl-left %}
  {% usemacro top_shopping_message "h1" "mt-1" %}
  {% usemacro top_buy_table "success" "secondary" %}
{% endblock %}
{% block content-xl-right %}
  {% usemacro book_top "h1" %}
  {% usemacro book_table "danger" "secondary" %}
{% endblock %}
{% block content-md-left %}
  {% usemacro top_message "h2" "mt-1" %}
  {% usemacro top_table "primary" "secondary" %}
{% endblock %}
{% block content2-md-left %}
  {% usemacro top_shopping_message "h2" "mt-1" %}
  {% usemacro top_buy_table "success" "secondary" %}
{% endblock %}
{% block content-md-right %}
  {% usemacro book_top "h2" %}
  {% usemacro book_table "danger" "secondary" %}
{% endblock %}
{% block content-sm %}
  {% usemacro top_message "h3" "mt-1" %}
  {% usemacro top_table "primary" "secondary" %}
{% endblock %}
{% block content3-sm %}
  {% usemacro book_top "h3" %}
  {% usemacro book_table "danger" "secondary" %}
{% endblock %}
{% block content2-sm %}
  {% usemacro top_shopping_message "h3" "mt-1" %}
  {% usemacro top_buy_table "success" "secondary" %}
{% endblock %}
{% block content-xs %}
    {% usemacro top_message "h3" "mt-1" %}
    {% usemacro top_table_xs "primary" "secondary" %}
{% endblock %}
{% block content3-xs %}
  {% usemacro book_top "h3" %}
  {% usemacro book_table "danger" "secondary" %}
{% endblock %}
{% block content2-xs %}
  {% usemacro top_shopping_message "h3" "mt-1" %}
  {% usemacro top_buy_table "success" "secondary" %}
{% endblock %}
